*{
  background-color: #d1d1d1;
}

.App {
  text-align: center;
  justify-content: space-evenly;
}


.location{
font-size: 26px;
}

.temp{
font-size: 40px
}

.details{
  flex-wrap: wrap;
  ;
}

.description{
}

.feels{

}

.wind{

}

.search{

}

input[type="text"], textarea {
  width:150px;
  height:50px;
  background-color : white; 
}

